@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.head-section {
    background-image: url("../images/pattern-bg-desktop.png");
    min-height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
}

.head-section h1 {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.head-section form {
    display: flex;
}

#input-field {
    width: 300px;
    height: 35px;
    border-radius: 8px;
    font-size: 11px;
    padding-left: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#input-field:focus {
    outline: none;
}

.submit-button {
    background-color: #000;
    display: inline-block;
    height: 35px;
    width: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.submit-button:hover {
    background-color: hsl(0, 0%, 17%);
}

.submit-button input {
    width: 30%;
    height: 30%;
}

.result-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 200;
    background-color: #fff;
    gap: 10px;
    border-radius: 8px;
}

.result-container > div {
    padding: 0 30px;
    width: 200px;
    border-right: 1px solid hsla(0, 0%, 59%, 0.5);
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.result-container > div > h2 {
    color: hsl(0, 0%, 59%);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}

.result-container > div > .output {
    font-size: 18px;
    font-weight: 500;
}

#map {
    min-height: 65vh;
    z-index: 100;
  }

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 930px) {
    .result-container > div {
        width: 180px;
    }
}

@media (max-width: 852px) {
    .result-container > div {
        width: 170px;
    }
}

@media (max-width: 750px) {
    .result-container > div {
        width: 140px;
    }

    .result-container > div > h2 {
        font-size: 9px;
    }

    .result-container > div > .output {
        font-size: 14px;
    }

}

@media (max-width: 650px) {
    .result-container > div {
        width: 120px;
    }

    .result-container > div > h2 {
        font-size: 9px;
    }

    .result-container > div > .output {
        font-size: 12px;
    }

}


@media (max-width: 575px) {
    .result-container {
        gap: 0;
        flex-direction: column;
    }

    .head-section {
        min-height: 40vh;
    }

    .result-container > div {
        width: 320px;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    #map {
        min-height: 60vh;
      }
}

@media (max-width: 375px) {
    .head-section {
        min-height: 35vh;
        background-image: url("../images/pattern-bg-mobile.png");
    }

    #map {
        min-height: 60vh;
      }
}

